@import "tailwindcss";


body {
  color: antiquewhite;
  min-height: 100vh;
  background-color: black;
}

/* 
CUSTOM CLASS FOR RED HOVERING EFFECT ON ELEMENTS 
*/
.hover-red {
  @apply hover:text-red-800 transition-colors duration-400;
}