@import "tailwindcss";


body {
  color: antiquewhite;
  min-height: 100vh;
  background-color: black;
  /* background-image: url("https://images.unsplash.com/photo-1739911359770-19aee701d1a6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxjaW5lbWElMjB0aGVhdGVyJTIwaW50ZXJpb3J8ZW58MXx8fHwxNzY5NTExMTg3fDA&ixlib=rb-4.1.0&q=80&w=1080");
  background-size: 75vw;
  background-position: center;
  background-attachment: local;
  background-repeat: no-repeat; */
}

#hero {
  min-height: 75vh;
  background-color: black;
  background-image: url("https://images.unsplash.com/photo-1739911359770-19aee701d1a6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxjaW5lbWElMjB0aGVhdGVyJTIwaW50ZXJpb3J8ZW58MXx8fHwxNzY5NTExMTg3fDA&ixlib=rb-4.1.0&q=80&w=1080");
  background-size: auto;
  background-position: center;
  background-attachment: local;
  background-repeat: no-repeat;
}

#notFoundCtn {
  min-height: 75vh;
  justify-content: center;
  background-image: url("/404.png");
  background-size: contain;
  background-position: center;
  background-attachment: local;
  background-repeat: no-repeat;
}

#notFoundTxt {
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
}

#notFoundTxt h2 {
  padding: 50px 0;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px hsl(0, 0%, 50%);
}

#notFoundTxt p {
  padding: 25px 0;
  display: inline-block;
  font-size: 1.3rem;
  text-shadow: 2px 2px 5px hsl(0, 0%, 50%);
  transition: 0.2s ease;
}

#notFoundLinkTxt:hover {
  color: hsl(0, 70%, 40%);
  font-weight: 600;
  text-shadow: 3px 3px 10px hsl(0, 0%, 50%);
}