@import "tailwindcss";


body {
  color: antiquewhite;
  min-height: 100vh;
  background-color: black;
  /* background-image: url("https://images.unsplash.com/photo-1739911359770-19aee701d1a6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxjaW5lbWElMjB0aGVhdGVyJTIwaW50ZXJpb3J8ZW58MXx8fHwxNzY5NTExMTg3fDA&ixlib=rb-4.1.0&q=80&w=1080");
  background-size: 75vw;
  background-position: center;
  background-attachment: local;
  background-repeat: no-repeat; */
}

#hero {
  min-height: 75vh;
  background-color: black;
  background-image: url("https://images.unsplash.com/photo-1739911359770-19aee701d1a6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxjaW5lbWElMjB0aGVhdGVyJTIwaW50ZXJpb3J8ZW58MXx8fHwxNzY5NTExMTg3fDA&ixlib=rb-4.1.0&q=80&w=1080");
  background-size: auto;
  background-position: center;
  background-attachment: local;
  background-repeat: no-repeat;
}